$whiteGreen: #c0fdcf;
$lightestGreen: #93ffac;
$lightGreen: #6ff28e;
$mainGreen: #2bb046;
$main-darkGreen: #329c48;
$darkGreen: #29833c;
$darkestGreen: #15762a;
$blackGreen: #0f4f1d;

/*---------------------------------------------------------------------------------------------------------------*/

$lightGrey: #b6b6b6;
$darkGrey: #6b6b6b;

/*---------------------------------------------------------------------------------------------------------------*/ 

$lightYellow: #ddffbe;
